/***** Import Fonts *****/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i|Yantramanav:400,500');


/***** Global Styles *****/
body {
  background-color: #F7F7F7;
  font-family: 'Open Sans', sans-serif;
}


/***** Navigation Bar *****/
.navbar {
  color: black;
  background-color: white;
}

.navbar-default .navbar-brand {
  color: black;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 700;
}

.navbar > .active {
  background-color: red;
}


/***** Header Content *****/
#header-content {
  padding-left: 4em;
  margin-top: 15em;
  margin-bottom: 38em;
}

#header-content > h1, #team-header-content > h1 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 45pt;
  font-weight: 800;
}

#header-content > p {
  color: black;
  font-size: 15pt;
  z-index: 1;
  position: relative;
}

#team-header-content {
  padding-left: 4em;
  margin-top: 14em;
  margin-bottom: 12em;
}

/***** Wave Animation *****/
/* Adapted from work by Rico Sta. Cruz */
/* https://codepen.io/rstacruz/pen/oxJqNv */
.wave {
  opacity: .45;
  position: absolute;
  top: 50%;
  left: 60%;
  background: #65C1FC;
  width: 1100px;
  height: 1100px;
  margin-left: -50%;
  margin-top: -850px;
  transform-origin: 50% 52%;
  border-radius: 41%;
  animation: drift 25000ms infinite linear;
}

.wave3 {
  animation: drift 19000ms infinite linear;
  background: blue;
}

.wave2 {
  animation: drift 21000ms infinite linear;
  opacity: .2;
  background: yellow;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


/***** Colored Bars *****/
#home-title, #team-title, #color-bar1, #color-bar2, #color-bar3, #color-bar4 {
  color: #3d435e;
  position: relative;
  font-weight: 700;
  z-index: 1;
}

#home-title::after, #team-title::after, #color-bar1::after, #color-bar2::after, 
#color-bar3::after, #color-bar4::after {
  content: "";
  position: absolute;
  height: 40%;
  left: 1px;
  bottom: 0;
  z-index: -1;
}

#home-title::after {
  width: 440px;
  background-color: #f8d86e;
}

#team-title::after {
  width: 280px;
  background-color: #f29285;
}

#color-bar1::after {
  width: 205px;
  background-color: #f8d86e;
}

#color-bar2::after {
  width: 295px;
  background-color: #9cca99;
}

#color-bar3::after {
  width: 310px;
  background-color: #67a1db;
}

#color-bar4::after {
  width: 180px;
  background-color: #EC7063;
}


/***** Summary Content *****/
.summary-content-container {
  margin-top: 22em;
  margin-bottom: 22em;
}

.summary-title {
  font-size: 20pt;
}

.summary-text {
  font-size: 14pt;
}


/***** Visualization Style *****/
.viz-container {
  border-radius: 5px;
  padding: 2em 1em 2em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0 2px 12px #B6B9BA;
}

#viz-container1 {
  background-color: #FDF5DB;
}

#viz-container2 {
  background-color: #E6F2E6;
}

#viz-container3 {
  background-color: #D9E8F6;
}

#viz-container4 {
  background-color: #FADBD8;
}


/***** Team Cards *****/
.team-card-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.team-card {
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 50px #D7DBDD;
  width: 40em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.team-card-info > h4 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 22pt;
  font-weight: 600;
  padding-top: 0.2em;
}

.team-card-info {
  padding-left: 1.5em;
}

.team-card > img {
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 250px;
  border-radius: 5px 0 0 5px;
}


/****** Text Animations ******/
/* Generated by Animista */
/* http://animista.net */

.focus-in-contract {
  -moz-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
  -moz-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-webkit-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


/***** Mobile Friendly Adjustments *****/
@media (max-width: 576px) {
  .team-card-container {
    align-items: center;
    flex-direction: column;
  }
  
  .team-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 50px #D7DBDD;
    width: 20em;
  }
  
  .team-card-info {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
  }
  
  .team-card > img {
    max-width: 280px;
    max-height: 280px;
    border-radius: 5px 5px 0 0;
  }
}